autumnterm/
MATLAB/BACSA/CW/
MATLAB/BACSA/pbs6/
MATLAB/BACSA/marcmentat/
MATLAB/BACSA/PBS5/
**/BACSA/CW.xlsx
MATLAB/BioInst/other/
MATLAB/MiB/notes/
**/MiB/MatlabPracticals/
**/compneuro/
MATLAB/MEngThesis/matlab_scripts/*
!MATLAB/MEngThesis/matlab_scripts/FelixDilutions/GOODdilutions_b.m
MATLAB/MEngThesis/MODELS/LUIS
!MATLAB/MEngThesis/MODELS/LUIS/*.m



**/Y2
